<div class="container">
  <h1>Todo List</h1><br><br>

<ul class="lists">
    <% @lists.each do |list| %>
      <ul class="list-link">
          <li class="list-link"><a href="<%= "lists/#{list.id}" %>"><%= list.name %></a></li><br>
                <ol>
                  <% list.items.each do |item| %>
                    <li><%= item.name %></li>
                  <% end %>
                </ol>
        </ul>
      </li><br>
    <% end %>
